html {
    font-family: Arial, Helvetica, sans-serif;
}

#movie-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    list-style: none;
}

#movie-container h3 {
    font-size: 2em;
    text-align: center;
}

#movie-container li{
    background: rgb(134, 16, 46);
    padding: 15px;
    width: 400px;
    margin: 10px;
    line-height: 30px;
    color: white;
    font-weight: bold;
    font-size: 1em;
    text-align: left;
}

#movie-container a{
    color: yellow;
    text-decoration: none;
    
}

#movie-container iframe{
    padding-left: 50px;
}